@{
    Layout = "_NewLayout";
}
<article>

    <!--
      - #HERO
    -->

    <section class="hero">
        <div class="container">

            <figure class="hero-banner">
                <img src="~/img/logo.jpg" alt="vim." style="border-radius: 50%">
            </figure>

            <div class="hero-content">

                <h1 class="h1 hero-title">Learn Music</h1>

                <p class="section-text">
                    VIM has ensured to create and maintain her standard by partnering with some of the finest of musicians.
                    Who have not only mastered the art of musicianship, but also gathered lots of experience in the teaching field.
                </p>

                <button class="btn btn-primary">Discover More</button>

            </div>

        </div>
    </section>





    <!--
      - #ABOUT
    -->

    <section class="about">
        <div class="container">

            <figure class="about-banner">

                <img src="~/img/jazz.jpg" alt="Jazz Sax" class="about-img">

                <img src="~/img/musicians.png" alt="Vector line art" class="vector-line">

                <button class="play-btn">
                    <ion-icon name="play"></ion-icon>
                </button>

            </figure>

            <div class="about-content">

                <h2 class="h2 about-title">We Help Students Excel in Any Music Genre</h2>

                <p class="section-text">
                    We provide online music courses to students all over Africa and beyond.
                    <br />
                    Vim offers variety of programs including one on one lessons, group classes, 
                    beginners and advanced classes for students under any age group. Some of our area of focus include:
                    Jazz, Popular, African Music, Theory & Composition, and many more...
                </p>

                <button class="btn btn-primary">Get Started Today</button>

            </div>

        </div>
    </section>





    <!--
      - #DEPARTMENTS
    -->

    <section class="departments">
        <div class="container">

            <img src="~/img/departmets-vector.svg" alt="Vector line art" class="vector-line">

            <h2 class="h2 departments-title">We Cover Various Genre</h2>

            <ul class="departments-list">

                <li>
                    <div class="departments-card">

                        <a href="#" class="card-banner">
                            <figure>
                                <img src="~/img/u_jazz.png" alt="jazz">
                            </figure>
                        </a>

                        <a href="#">
                            <h3 class="h3 card-title">Jazz</h3>
                        </a>

                        <p class="card-text">
                            We have have well structured practice plan for all our students. All courses inclusive.
                        </p>

                        <a href="#" class="card-link">
                            <span>Learn More</span>

                            <ion-icon name="arrow-forward"></ion-icon>
                        </a>

                    </div>
                </li>

                <li>
                    <div class="departments-card">

                        <a href="#" class="card-banner">
                            <figure>
                                <img src="~/img/u_classical.png" alt="classical">
                            </figure>
                        </a>

                        <a href="#">
                            <h3 class="h3 card-title">Classical</h3>
                        </a>

                        <p class="card-text">
                            At VIM, we ensure to update our curricullum. Follow the current ABRSM standards.
                        </p>

                        <a href="#" class="card-link">
                            <span>Learn More</span>

                            <ion-icon name="arrow-forward"></ion-icon>
                        </a>

                    </div>
                </li>

                <li>
                    <div class="departments-card">

                        <a href="#" class="card-banner">
                            <figure>
                                <img src="~/img/u_afican.png" alt="Business Studies">
                            </figure>
                        </a>

                        <a href="#">
                            <h3 class="h3 card-title">African Music</h3>
                        </a>

                        <p class="card-text">
                            Our course are all levels friendly. Easy to understand and apply.
                        </p>

                        <a href="#" class="card-link">
                            <span>Learn More</span>

                            <ion-icon name="arrow-forward"></ion-icon>
                        </a>

                    </div>
                </li>

            </ul>

            <button class="btn btn-primary">View All Department</button>

        </div>
    </section>





    <!--
      - #INSTRUCTOR
    -->

    <section class="instructor">
        <div class="container">

            <img src="~/img/instructor-vactor-1.svg" alt="Vector line art" class="vector-line">

            <div class="title-wrapper">
                <h2 class="h2 instructor-title">Experience Great Musicianship</h2>

                <button class="btn btn-primary">View All Teachers</button>
            </div>

            <ul class="instructor-list">

                <li>
                    <div class="instructor-card">

                        <figure class="card-banner">
                            <img src="~/img/p_ukwu.png" alt="Shaapir Prio">
                        </figure>

                        <a href="#">
                            <h3 class="card-title">Ukwu Joshua Mba</h3>
                        </a>

                        <p class="card-subtitle">Instructor (Founder)</p>

                        <ul class="card-social-list">

                            <li>
                                <a href="https://web.facebook.com/Jospiano" class="card-social-link">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="https://twitter.com/uukwuuu" class="card-social-link">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/uukwuuu/" class="card-social-link">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="" class="card-social-link">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                            </li>

                        </ul>

                    </div>
                </li>

                <li>
                    <div class="instructor-card">

                        <figure class="card-banner">
                            <img src="~/img/p_peter.png" alt="Peter Adedeji">
                        </figure>

                        <a href="#">
                            <h3 class="card-title">Peter Adedeji</h3>
                        </a>

                        <p class="card-subtitle">Saxophone Instructor</p>

                        <ul class="card-social-list">

                            <li>
                                <a href="https://web.facebook.com/adedejip1" class="card-social-link">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                            </li>

                        </ul>

                    </div>
                </li>

                <li>
                    <div class="instructor-card">

                        <figure class="card-banner">
                            <img src="~/img/p_paul.png" alt="Paul">
                        </figure>

                        <a href="#">
                            <h3 class="card-title">Paul Olagunju</h3>
                        </a>

                        <p class="card-subtitle">Guitar Instructor</p>

                        <ul class="card-social-list">

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-google"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="card-social-link">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                            </li>

                        </ul>

                    </div>
                </li>

            </ul>

            <img src="~/img/instructor-vactor-2.svg" alt="Vector line art" class="vector-line">

        </div>
    </section>





    <!--
      - #CTA
    -->

    <section class="cta">
        <div class="container">

            <div class="title-wrapper">

                <h2 class="h2 cta-title">
                    <span>Create Free Account & Get Register</span>

                    <img src="~/img/cta-vector.svg" alt="Vector arrow art" class="vector-line">
                </h2>

                <button class="btn btn-primary">Register Now</button>

            </div>

            <div class="cta-banner"></div>

        </div>
    </section>

</article>