@using Core.Entities;
@{
	Layout = "_NewLayout";
	var videos = ViewBag.Videos as string;
	var message = "me";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/watchstyle.css" />
</head>
<body style="margin-top: 8rem;">

	<div class="container2">
		<div class="main-video">
			<div class="video">
				<video class="playing-vid" src="" controls autoplay></video>
				<h3 class="title"></h3>
			</div>
		</div>
		<div class="video-list">
			@* <div class="vid active">
				<video src="https://res.cloudinary.com/dvoez6mj2/video/upload/v1682249364/All_The_Things_You_Are_cmeifw.mp4"
					   muted></video>
				<h3 class="title">01. video title goes here</h3>
			</div> *@	
		</div>
	</div>



	<script>

		let main_video = document.querySelector('.playing-vid')
		let main_video_title = document.querySelector(".title")
		const video_playlist = document.querySelector('.video-list')

		
		let data = @Html.Raw(@videos);

		data.forEach((video, i) => {
			let video_element = `
						<div class="vid" name="${video.Id}" data-id="${video.Id}">
							<video src="${video.name}" muted></video>
							<h3 class="title">${i + 1}. ${video.title}</h3>
						</div>
					`
			video_playlist.innerHTML += video_element
		})

		let videos = document.querySelectorAll('.vid')
		videos[0].classList.add('active')


		videos.forEach((selected_video) => {
			selected_video.addEventListener("click", () => {
				for (all_videos of videos) {
					all_videos.classList.remove('active')
				}
				selected_video.classList.add('active')

				let match_video = data.find(
					(video) => video.Id === `${selected_video.dataset.id}`
				)

				main_video.src =  `${match_video.name}`
				main_video_title.innerHTML = match_video.title
			})
		})
	</script>
</body>
</html>
