name: virtimus-project

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Deploying virtimus website project
      env:
        HEROKU_API_KEY: e40220a2-b4d7-4645-9a68-cb7431d6d206
        APP_NAME: virtimus
      run: |
        docker build -t vimmvc .
        docker tag vimmvc registry.heroku.com
        sudo docker login --username=onimsi10@yahoo.com --password-stdin=$HEROKU_API_KEY registry.heroku.com
        heroku container:push web -a $APP_NAME
        heroku container:release web -a $APP_NAME



# name: virtimus-project
# on:
#   push:
#     branches:
#       - master
#   pull_request:
#     branches:
#       - master

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#       - uses: akhileshns/heroku-deploy@v3.12.14 # This is the action
#         with:
#           heroku_api_key: e40220a2-b4d7-4645-9a68-cb7431d6d206
#           heroku_app_name: virtimus #Must be unique in Heroku
#           heroku_email: onimsi10@yahoo.com
#           justlogin: true
#       - run: heroku auth:whoami