name: virtimus-CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.14 # This is the action
        with:
          heroku_api_key: e40220a2-b4d7-4645-9a68-cb7431d6d206
          heroku_app_name: virtimus #Must be unique in Heroku
          heroku_email: onimsi10@yahoo.com
          justlogin: true
          usedocker: true
      - run: heroku auth:whoami
