name: CI

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Deploying virtimus website project
      env:
        HEROKU_API_KEY: ${{sectrets.HEROKU_API_KEY}}
        APP_NAME: virtimus
      run: |
        docker build -t vimmvc .
        docker tag vimmvc registry.heroku.com
        sudo docker login --username=_ --password=${{secrets.HEROKU_API_KEY}} registry.heroku.com
        heroku container:push web -a ${{sectrets.HEROKU_APP_NAME}}
        heroku container:release web -a ${{sectrets.HEROKU_APP_NAME}}
